{% extends "layout.html" %}

{% block title %}
    Zarezerwuj
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rental/style.css' %}">
{% endblock %}

{% block content %}
    <div class="terminyRezerwacji">
        <div class="wolne">
            <h2>Wolne terminy w najbliższych 30 dniach</h2>
            <ul id="clickValues">
                {% for od, do in wolne %}
                    <li><button type="button">{{ od|date:"d.m.Y" }} - {{ do|date:"d.m.Y" }}</button></li>
                {% empty %}
                    <li>Brak wolnych terminow</li>
                {% endfor %}
            </ul>
        </div>
        <div class="panelUtworzenia">
            <h2>Wybierz daty</h2>
            <form id="createForm" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Zarezerwuj</button>
            </form>
        </div>
    </div>
{% endblock %}
