.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    margin: 15px;
}
.panelRezerwacji, .panelUtworzenia{
    background-color: #fff;
    border-radius: 10px;    
    max-width: 500px;
    margin: 5px auto;
    padding: 20px;
}

.panelRezerwacji button, .panelUtworzenia button{
    padding: 6px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.panelRezerwacji button, .panelUtworzenia button:hover{
    background-color: rgb(3, 3, 144);
    border-radius: 10px;
}

.panelRezerwacji img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 15px 0;
    transition: 0.3s ease;
}
.panelRezerwacji img:hover{
    border-radius: 10px;
}

.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.empty a{
    font-weight: bold;
    text-decoration: none;
}

.empty a:hover{
    text-decoration: underline;
}

main h1 {
    text-align: center;
}

.anulowane{
    text-align: center;
}

.anulowane p{
    margin: 20px 0 7px 0;
    color: rgb(255, 0, 0);
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: underline;
}  

.anulowane a{
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
}

.anulowane a:hover{
    text-decoration: underline;
}
.anulowane a:active{
    color: blue;
    letter-spacing: 2px;
}

.panelUtworzenia input{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

p span{
    text-decoration: underline;
    color: rgb(34, 0, 255);
}

.statusRez{
    text-align: center;
}

.komunikat{
    margin: 15px 0 0 0;
    color: red;
    letter-spacing: 0.5px;
    text-align: center;
}
ul{
    list-style-type: none;
}

.terminyRezerwacji{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wolne{
    margin: 20px;
}

.wolne ul li {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: rgb(0, 0, 159);
    cursor: pointer;
}

.wolne ul li:hover{
    font-weight: bold;
}
